body {
  background-color: palegoldenrod;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  text-align: center;
  color: teal;
}
h2{
  text-align: center;
  color: darkgoldenrod;
}

h3{
  text-align: justify;
  margin-bottom: auto;
  border-left: teal;
  border-color: teal;}